body{
    margin: 0;
    padding: 0;
    background: #333;
    box-shadow: inset 0 0 50px rgb(255, 13, 0);
    height: 100vh;    
    font-family: sans-serif;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 325px;
    margin: 20px;
    gap: 20px;
    margin-top: 150px;
}
.card img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
button{
    padding: 10px 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    background: rgb(255, 13, 0);
    color: white;
    transition: 0.2s;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
}
.text{
    display: flex;
    margin-top: 200px;
    align-items: end;
    justify-content: center;
    font-size: 10px;
    color: white;
    font-weight: thin;
}
button:hover{
    box-shadow: 0 0 15px rgb(255, 13, 0);
}
@media screen and (max-width: 880px) {
    .card{
        margin: 40px;
    }
}
@media screen and (max-width: 350px) {
    button{
        padding: 5px 15px;
        font-size: 13px;
    }
   .img{
        width: 100px;
   }
}
@media screen and (max-width: 250px) {
    button{
        padding: 5px 12px;
        font-size: 12px;

        border-radius: 5px;
    }
   .img{
        width: 75px;
   }
}

@media screen and (max-width: 490px) {
        .card-container{
            align-items: center;
        }
}

@media screen and (max-width: 415px) {
    .card-container{
        margin-left: 90px;
    }
}

@media screen and (max-width: 431px) {
    .card-container{
        margin-left: 90px;
    }
}
@media screen and (max-width: 391px) {
    .card-container{
        margin-left: 70px;
    }
}
@media screen and (max-width: 270px) {
    .card-container{
        margin-left: 50px;
    }
}
@media screen and (max-width: 250px) {
    .card-container{
        margin-left: 30px;
    }
}